<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		</section>
	</aside>
	<div class="span8">
		<% if @user.attempts.any? %>
			<h3>Attempts (<%= @user.attempts.count %>)</h3>
			<ol class="attempts">
				<%= render @attempts %>
			</ol>
			<%= will_paginate @attempts %>
		<% end %>
	</div>
</div>
	