<% provide(:title, "Quiz Attempt") %>
<h1>Question <%= @current + 1 %> of <%= @total %></h1>

<p><%= @question.text %></p>

<%= form_tag({:controller => "quiz", :action => "answer"}) do %>
  <% @choices.each do |choice| %>
	 <p>
		<%= radio_button_tag(:choice, choice.id) %> <%= choice.text %>
	 </p>
  <% end %>
  
  <div class="center">
	 <%= submit_tag("Continue", :class => "submit") %>
  </div>
<% end %>

